#btn_wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
}
#reset {
  font-size: 24px;
  border-radius: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

#grid {
  background-color: lightblue;
  text-align: center;
  padding: 5px;
  aspect-ratio: 1 1;
  flex-grow: 1;
}
